name: Python testing

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r test-requirements.txt
          pip install -U coveralls pyyaml
      - name: Run test
        run: |
          coverage run --source=tdclient -m pytest tdclient/test

#
# Disable coverage submission to avoid
#   coveralls.exception.CoverallsException: Could not submit coverage: 422 Client Error: Unprocessable Entity for url: https://coveralls.io/api/v1/jobs
#
#   - name: Submit to coveralls
#     run: coveralls
#     env:
#       COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
